<a href="https://colab.research.google.com/github/weilongzhang27/NGA-website/blob/main/CIS550_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import data to objects

In [1]:
import pandas as pd
import numpy as np

In [6]:
columns = ['objectID','accessioned','accessionNum',\
           'locationID','title','displayDate','beginYear',\
           'endYear','visualBrowserTeimSpan','medim','dimensions',\
           'inscription','markings','attributionInverted','attribution',\
           'provenanceText','creditLine','classification','subClassification',\
           'visualBrowserClassification','parentID','isVirtual','departmentAbbr',\
           'portfolio','series','volume','watermarks','lastDetectedModification','wikidataid','customPrintURL']
objects = pd.read_csv('/content/objects.csv', header=1, names = columns)
#objects = objects.loc[1:,:]
objects.head()
objects.size

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (29) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

4138470

In [ ]:
objects.loc[objects["objectID"]==9539]

,objectID,accessioned,accessionNum,locationID,title,displayDate,beginYear,endYear,visualBrowserTeimSpan,medim,...,parentID,isVirtual,departmentAbbr,portfolio,series,volume,watermarks,lastDetectedModification,wikidataid,customPrintURL
72183,9539,1,1943.3.6744,NaN,Scrubwoman,NaN,1908.0,1992.0,1901 to 1925,lithograph,...,NaN,0,CG-W,NaN,NaN,NaN,NaN,01:34.9,Q65019188,NaN

Check the length of objectID

In [ ]:
objectID = objects['objectID']
objectID.astype(str).apply(lambda x: len(x)).max()
#len_tb = objects.astype(str).apply(lambda col: col.str.len()).max()
#len_tb

8

Check the length of accessionNum

In [ ]:
accessionNum = objects['accessionNum']
accessionNum.apply(lambda x: len(x)).max()

20

Check the lengh of title

In [ ]:
title = objects ['title']
title.head()
title.astype(str).apply(lambda x:len(x)).max()

848

Check all column max length

In [ ]:
len_tb = objects.astype(str).apply(lambda x:x.str.len()).max()
len_tb

objectID                           6
accessioned                        1
accessionNum                      20
locationID                         7
title                            848
displayDate                      135
beginYear                          6
endYear                            6
visualBrowserTeimSpan             15
medim                            731
dimensions                       733
inscription                     4849
markings                        1540
attributionInverted              394
attribution                      779
provenanceText                 11740
creditLine                       732
classification                    24
subClassification                 21
visualBrowserClassification       18
parentID                           8
isVirtual                          1
departmentAbbr                     5
portfolio                        345
series                           542
volume                           332
watermarks                       340
lastDetectedModification          26
customPrintURL                   153
dtype: int64

In [ ]:
longest = objects.loc[objects['title'].str.len()>847,:]
print(longest.values)

[['154198' '1' '2010.137.28' nan
  'William S. Burroughs slightly zonked, his dooryard-garden wall Villa Muneria, looking at me suspiciously, "Who are you an Agent for?" He "traced back along word-lines," cut-up technique of anti-brainwash language analysis, inquiring sources of my mental conditioning, perhaps Liberal Professor Trilling, perhaps "a trust of giant insects from another Galaxy" conspiring to make Nova Conditions on our Planet, exterminate HomoSap the Human animal so another life-form, virus invasion, move in on the Turf, such like poetries on his mind. Timothy Leary visited from Harvard, we took small amount of psilocybin, Bill shut himself inside his garden gate with a wave of his hand, allergic, paranoia season. Peter Orlovsky departed alone, ship to Athens, Bill employed for Scandinavia L.S.O. Conference leaving Gregory Corso and myself waving him goodbye'
  '1961, printed 1995' '1961' '1961' '1951 to 1975'
  'gelatin silver print'
  'image: 28.26 Ã— 41.59 cm (11 1/8 Ã— 16 3/8 in.)\r\nsheet: 40.48 Ã— 50.48 cm (15 15/16 Ã— 19 7/8 in.)'
  'signed by artist, across bottom in black ink: William S. Burroughs slightly zonked, his dooryard-garden wall Villa Muneria, looking at me suspic- / iously, "Who are you an agent for? He "traced back along word-llines," cut-up technique of anti-brainwash lang- / uage analysis, inquiring sources of my mental conditioning, perhaps Liberal Professor Trilling, perhaps "a trust / of giant insects from another Galaxy" conspiring to make Nova Conditions on our Planet, exterminate HomoSap [sic] / the Human animal so another life-form, virus invasion, move in on the Turf, suchlike [sic] poetries on his mind. / Timothy Leary visited from Harvard, we took small amount of Psylocibin [sic], Bill shut himself inside his / garden gate with a wave of his hand, allergic, paranoia season. Peter Orlovsky departed alone, ship / to Athens, Bill employed for Scandinavia L.S.O. Conference leaving Gregory Corso and myself waving / him goodbye at the airport Limo on Boulevard Pasteur. We all rejoined company in Paris later that year. Here Tangier, May 1961.     Allen Ginsberg; rubber stamp in black ink, center: Photograph By / Allen Ginsberg / COPYRIGHT 1994 NYC / ALL RIGHTS RESERVED / Fax 212-675-1686; by unknown hand, bottom right in graphite: AG signed 10/25/95; lower right in graphite: 1/3 SK / Tanger 1961 / 47/810; bottom center in graphite: GD-AG-7; bottom right in graphite: GDC-905'
  nan 'Ginsberg, Allen' 'Allen Ginsberg'
  'Allen Ginsberg Estate; Gary S. Davis, Greenwich, CT; gift to NGA, 2010.'
  'Gift of Gary S. Davis' 'Photograph' nan 'photograph' nan '0' 'CPH' nan
  nan nan nan '2021-08-10 22:01:16.547-04' nan]]

In [ ]:
longest_str = objects.loc[objects['provenanceText'].str.len()>11739,"provenanceText"]
print(longest_str)

137762    Probably commissioned by a member of the Medic...
Name: provenanceText, dtype: object

For Constituents

In [4]:
columns_constituents = ['constituentID','ULANID','preferredDisplayName',\
           'forwardDisplayName','lastName','displayDate','artistOfNGAObject',\
           'beginYear','endYear','visualBrowserTimeSpan','nationality',\
           'visualBrowserNationality','constituentType']
constituents = pd.read_csv('/content/constituents.csv', header=None, names = columns_constituents)
constituents = constituents.loc[1:,:]
constituents.size

339326

Constituents Length

In [ ]:
len_tb_constituents = constituents.astype(str).apply(lambda x:x.str.len()).max()
len_tb_constituents

constituentID                 5
ULANID                        9
preferredDisplayName        171
forwardDisplayName          170
lastName                    100
displayDate                  90
artistOfNGAObject             1
beginYear                     4
endYear                       4
visualBrowserTimeSpan        15
nationality                  23
visualBrowserNationality     13
constituentType              13
dtype: int64

In [ ]:
longest_constituent_str = constituents.loc[constituents['forwardDisplayName'].str.len()>=170,:]
print(longest_constituent_str)

     constituentID ULANID                               preferredDisplayName  \
1069          1147    NaN  Pinkus Trustees of the Community Trust created...

                                     forwardDisplayName  \
1069  Gerhard E. Pinkus and Marianne Pinkus Trustees...

                                               lastName   displayDate  \
1069  Pinkus Trustees of the Community Trust created...  he died 2004

     artistOfNGAObject beginYear endYear visualBrowserTimeSpan nationality  \
1069                 0      1904    2004          1901 to 1925         NaN

     visualBrowserNationality constituentType
1069                    Other          couple

Check object_constituent

In [9]:
columns_objcons = ['objectID','constituentID','displayOrder','roleType','role','prefix','suffix',\
                   'displayDate','beginyear','endyear','country','zipcode']
obj_cons = pd.read_csv('/content/objects_constituents.csv', header=1, names = columns_objcons)
obj_cons.size

ParserError: ignored

In [ ]:
obj_cons.query("objectID==8")

,objectID,constituentID,displayOrder,roleType,role,prefix,suffix,displayDate,beginyear,endyear,country,zipcode
0,8,427,1,donor,donor,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,427,2,donor,source,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8,427,6,owner,previous owner,NaN,NaN,1936 - 1937,1936.0,1937.0,NaN,NaN
3,8,1102,5,owner,previous owner,NaN,", New York, NY",1936 - 1936,1936.0,1936.0,NaN,NaN
4,8,5524,1,artist,painter,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,8,5525,2,artist,painter,and,NaN,NaN,NaN,NaN,NaN,NaN
6,8,8511,4,owner,previous owner,NaN,", New York, NY",1930 - 1930,1930.0,1930.0,NaN,NaN
7,8,18899,3,owner,previous owner,NaN,NaN,1916 - 1916,1916.0,1916.0,NaN,NaN
8,8,23024,2,owner,previous owner,NaN,", London, England",1916 - 1916,1916.0,1916.0,NaN,NaN
9,8,30017,1,owner,previous owner,NaN,NaN,- 1916,NaN,1916.0,NaN,NaN

In [ ]:
len_tb_objcons = obj_cons.astype(str).apply(lambda x:x.str.len()).max()
len_tb_objcons

objectID          6
constituentID     5
displayOrder      2
roleType          6
role             25
prefix           34
suffix           64
displayDate      28
beginyear         7
endyear           6
country          43
zipcode          10
dtype: int64

CHECK LOCATIONS

In [7]:
columns_locations = ['locationID','site','room','publicAccess','description','unitPosition']
locations = pd.read_csv('/content/locations.csv', header=None, names = columns_locations)
locations = locations.loc[1:,:]
locations.head()
locations.size

6498

In [ ]:
len_tb_locations = locations.astype(str).apply(lambda x:x.str.len()).max()
len_tb_locations

locationID       5
site            22
room             8
publicAccess     1
description     47
unitPosition    15
dtype: int64

In [ ]:
longest_locations_str = locations.loc[locations['description'].str.len()>=47,'description']
print(longest_locations_str.values)

['East Bldg, Upr Lvl Stairway 407X (North Bridge)'
 'East Bldg, Upr Lvl Stairway 407X (North Bridge)']

CHECK PUBLISHED_IMAGES

In [10]:
columns_published_images = ['uuid','iiifurl','iiifthumburl','viewtype','sequence','width','height','maxpixels','created','modified','depictstmsObjectID','assistiveText']
published_images = pd.read_csv('/content/published_images.csv', header=1, names = columns_published_images)
published_images.head()
published_images.size

1254048

In [ ]:
published_images.loc[published_images["depictstmsObjectID"]==17387]

,uuid,iiifurl,iiifthumburl,viewtype,sequence,width,height,maxpixels,created,modified,depictstmsObjectID,assistiveText
0,00007f61-4922-417b-8f27-893ea328206c,https://api.nga.gov/iiif/00007f61-4922-417b-8f...,https://api.nga.gov/iiif/00007f61-4922-417b-8f...,primary,0.0,3365,4332,NaN,2013-07-05 15:41:08-04,2022-05-23 14:59:28-04,17387,NaN

In [ ]:
len_tb_published_images = published_images.astype(str).apply(lambda x:x.str.len()).max()
len_tb_published_images

uuid                    36
iiifurl                 61
iiifthumburl            89
viewtype                 9
sequence                 3
width                    6
height                   5
maxpixels                5
created                 22
modified                26
depictstmsObjectID       6
assistiveText         4192
dtype: int64

In [ ]:
longest_published_images = published_images.loc[published_images['assistiveText'].str.len()>=4192,'assistiveText']
longest_published_images = published_images.loc[published_images['assistiveText'].str.len()>=4192,:]
longest_published_images
#print(longest_published_images.values)

,uuid,iiifurl,iiifthumburl,viewtype,sequence,width,height,maxpixels,created,modified,depictstmsObjectID,assistiveText
64459,9d65469d-7f64-4f58-8123-527ba3865458,https://api.nga.gov/iiif/9d65469d-7f64-4f58-81...,https://api.nga.gov/iiif/9d65469d-7f64-4f58-81...,primary,0,6007,3489,NaN,2009-03-24 13:12:44-04,2022-08-31 12:02:29-04,321,"Dozens of men, women, and a few children gathe..."

In [ ]:
obj_cons.describe()

,objectID,constituentID,displayOrder,roleType,role,prefix,suffix,displayDate,beginyear,endyear,country,zipcode
count,798353,798353,798353,798353,798353,7436,56909,249330,143733.0,142796.0,225948,224387
unique,137957,30403,108,3,56,120,1130,7557,725.0,690.0,28,1014
top,30232,12,1,owner,previous owner,and,", Philadelphia, PA",1943 -,1943.0,1943.0,United States,20565
freq,74,126434,378373,326548,188644,3083,24973,27363,24899.0,24894.0,209314,105565

In [ ]:
obj_cons

Constituents_text

In [ ]:
columns_constituents_text = ['constituentID','text','texttype','year']
constituents_text = pd.read_csv('/content/constituents_text_entries.csv', header=None, names = columns_constituents_text)
constituents_text = constituents_text.iloc[1:,:]

,constituentID,text,texttype,year
1,1202,"Sutton, Peter C., et al. _Masters of Seventeen...",bibliography,1987
2,1354,"Sutton, Peter C., et al. _Masters of Seventeen...",bibliography,1987
3,1395,"Sutton, Peter C., et al. _Masters of Seventeen...",bibliography,1987
4,1398,"Sutton, Peter C., et al. _Masters of Seventeen...",bibliography,1987
5,1761,"Sutton, Peter C., et al. _Masters of Seventeen...",bibliography,1987